
<div class="card">
  <div class="card-header">
    <h4>Edit customer</h4>
  </div>
  <div class="card-body">
    <div class="form-group">
      <form [formGroup]="editForm" (ngSubmit)="update()">
        <label>name:</label>
        <input type="text" formControlName="name" class="form-control">
        <div *ngIf="name.invalid && (name.dirty||name.touched)" class="alert alert-danger" role="alert">
          Tên sách không được để trống!
        </div>
        <label>phone:</label>
        <input type="text" formControlName="phone" class="form-control">
        <div *ngIf="phone.invalid && (phone.dirty||phone.touched)" class="alert alert-danger" role="alert">
          <div *ngIf="phone.errors.required">Số điện thoại không được để trống</div>
          <div *ngIf="phone.errors.minlength">Số điện thoại phải trên 10 số</div>
          <div *ngIf="phone.errors.maxlength">Số điện thoại phải dưới 12 số</div>
        </div>
        <label>email:</label>
        <input type="text" formControlName="email" class="form-control">
        <div *ngIf="email.invalid && (email.dirty||email.touched)" class="alert alert-danger" role="alert">
          <div *ngIf="phone.errors.required">Email không được để trống</div>
          <div *ngIf="phone.errors.email">Email không đúng định dạng</div>

        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a (click)="viewList()" class="btn btn-secondary ml-2">Cancel</a>
      </form>
    </div>
  </div>
</div>
